h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: #F0F2F4;
    font-family: 'Poppins', sans-serif;
}

.bg-color {
    background-color: #F0F2F4;
}

/* common style css start  */

/* yellow background color  */
.active,
.submit-btn,
.addToCart-btn,
.price,
.subscribe {
    background-color: #F9A331;
}

.confirm,
.privacy-content p {
    font-size: 14px;
}

/* common style css end  */


/* left side css style start */
.mobile-img {
    box-shadow: inset 0px 0px 24px -19px rgba(41, 41, 41, 1);
    width: 90%;
    position: relative;
}

.mobile-img img {
    margin-top: -16%;
    margin-left: -10%;
}



/* .mobile-content {}
.
.mobile-content-info {} */
.mobile-content .status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mobile-content .status p {
    background-color: #F6F8FA;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 13px;
}

.mobile-content .status p:hover b {
    color: #C97506;
}

.product-info .pColor .c-black,
.product-info .pColor .c-purple,
.product-info .pColor .c-silver,
.product-info .pColor .c-gold {
    width: 22px;
    height: 22px;
    border-radius: 20%;
    border: 1px solid #ddd;
    margin-right: 5px;
    cursor: pointer;
}

.pColor .c-black {
    background-color: #000;
}

.pColor .c-purple {
    background-color: #B8AFE6;
}

.pColor .c-gold {
    background-color: #d4af37;
}

.pColor .c-silver {
    background-color: #F5F5F0;
}

.product-info .kFeature p {
    background-color: #F6F8FA;
    margin-right: 6px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}

.product-info .kFeature .product-info-active {
    background-color: #F9A331;
    color: #fff;
}

.product-info .kFeature .product-info-active:hover {
    color: #fff;
}

.product-info .kFeature p:hover {
    color: #C97506;
}

.price {
    padding: 14px 10px;
    color: #fff;
    position: absolute;
    bottom: 24px;
    right: 0;
    border-radius: 6px 0 0 6px;
}

.addToCart-btn {
    width: 100%;
    border: none;
}



/* left side css style end */

/* right side form style  start*/
.apply-form input:focus,
.subs-input input:focus {
    box-shadow: none;
    outline: none;
    border-color: #F9A331;
}

.submit-btn:hover {
    background-color: #F9A331;
}

.privacy-content a:hover {
    text-decoration: underline;
}

.privacy-content a {
    color: #F9A331;
}

/* right side form style  end */

/* details styles css */

.collapse-btn {
    color: #F9A331;
}

.collapse-btn:hover {
    color: #fff;
    background-color: #F9A331;

}

/* .details-content {} */

.details-content li {
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.details-content li h5 {
    color: #F9A331;
    padding: 6px 0 6px 20px;
    background-color: #faf3e9cb;
}

.details-content li table tbody {
    font-size: 15px;
}

.details-content li table tr th {
    font-weight: normal;
    padding: 0 20px;
    width: 30%;
    color: #6d6060;
}

.details-content li table tr td {
    width: 70%;

}

.details-content li table tr:last-child {
    border-bottom: transparent;
}

.pDetails-info p {
    color: #6d6060;
    border-bottom: #eee solid 1px;

}

/* product description style start */
.description-content h4 {
    font-size: 17px;
    padding: 6px 0;
    font-weight: 600;
}

.description-content p {
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}

/* product description style end */

/* subscribe section start */
.subscribe {
    width: 100%;
}

.subscribe h2 {
    font-size: 20px;
}

.subs-input input {
    margin: auto;
    width: 70%;
    padding: 12px 8px;
}

.subs-input input:focus {
    border-color: #C97506;
}

.subscribe form .subs-input button {
    margin-top: 12px;
    background-color: #C97506;
    padding: 10px 20px;
    border-radius: 26px;
    border: none;
    width: 70%;
}

/* subscribe section end */




/* media query start  */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* left side mobile details style start */
    .product-info {
        overflow: hidden;
    }

    .mobile-img {
        width: 35%;
        box-shadow: none;
    }


    .mobile-img img {
        transition: transform .3s;
        margin-top: 0%;
        margin-left: 0%;
    }

    .mobile-img img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }


    .mobile-content {
        width: calc(100% - 40%);
    }

    .price {
        left: auto;
        top: 0;
        right: 20px;
        bottom: auto;
        transform: none;
        border-radius: 0 0 6px 6px;
    }

    /* left side mobile details style end */

    /* subscribe section start */
    .subscribe {
        width: 90%;
    }

    .subscribe h2 {
        font-size: 28px;
    }

    .subscribe form .subs-input input {
        width: 30%;
        padding: 12px 8px;
        margin: auto;
        display: inline-block;
    }

    .subscribe form .subs-input button {
        margin-left: -30px;
        background-color: #C97506;
        padding: 10px 20px;
        border-radius: 26px;
        border: none;
        width: initial;
    }

    /* subscribe section end */
}