h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: #F0F2F4;
}

.bg-color {
    background-color: #F0F2F4;
}

/* common style css start  */

/* yellow background color  */
.active,
.submit-btn,
.addToCart-btn,
.price,
.subscribe {
    background-color: #F9A331;
}

.confirm,
.privacy-content p {
    font-size: 14px;
}

/* common style css end  */

/* navbar style start */
#navbar ul li a {
    padding: 8px 14px;
    border-radius: 18px;
    margin: auto 6px;
}

#navbar ul li a:hover {
    background-color: #149FDA;
    color: #fff;
}

/* navbar style end */

/* left side css style start */
.mobile-img {
    box-shadow: inset 0px 0px 24px -19px rgba(41, 41, 41, 1);
    width: 90%;
    position: relative;
}

.mobile-img img {
    margin-top: -16%;
    margin-left: -10%;
}



/* .mobile-content {}

.mobile-content-info {} */

.mobile-content-info p {
    font-size: 15px;
    text-transform: capitalize;
    padding-bottom: 1px;
}

.icons {
    font-size: 13px;
    margin-right: 2px;
}

.price {
    padding: 14px 10px;
    color: #fff;
    position: absolute;
    bottom: 24px;
    right: 0;
    border-radius: 6px 0 0 6px;
}

.content-buttom li {
    border-right: 1px solid #ddd;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 5px;
}

.content-buttom li:nth-child(2),
.content-buttom li:last-child {
    border-right: transparent;
}

.content-buttom li strong {
    font-size: 18px;
}

.content-buttom li span {
    font-size: 12px;
}

.content-buttom-icons {
    font-size: 20px;
    padding: 0 5px;
}

.addToCart-btn {
    width: 100%;
    border: none;
}



/* left side css style end */

/* right side form style  start*/
.apply-form input:focus,
.subs-input input:focus {
    box-shadow: none;
    outline: none;
    border-color: #F9A331;
}

.submit-btn:hover {
    background-color: #F9A331;
}

.privacy-content a:hover {
    text-decoration: underline;
}

.privacy-content a {
    color: #F9A331;
}

/* right side form style  end */

/* details styles css */
/* .details-content {} */

.details-content li {
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.details-content li h5 {
    color: #C97506;
    padding: 6px 0 6px 20px;
    background-color: #F0F2F4;
}

.details-content li table tr th {
    padding: 0 20px;
}

.pDetails-info p {
    font-size: 17px;
    color: #6d6060;
    border-bottom: #eee solid 1px;

}

/* subscribe section start */
.subscribe {
    width: 100%;
}

.subscribe h2 {
    font-size: 20px;
}

.subs-input input {
    margin: auto;
    width: 70%;
    padding: 12px 8px;
}

.subs-input input:focus {
    border-color: #C97506;
}

.subscribe form .subs-input button {
    margin-top: 12px;
    background-color: #C97506;
    padding: 10px 20px;
    border-radius: 26px;
    border: none;
    width: 70%;
}

/* subscribe section end */
/* footer style css start  */
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9A331;
    background-color: #ece3e3;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    text-decoration: none;
}


.social-icon {
    font-size: 22px;
}

.fot-link a {
    color: #7f7f7f;
}

/* footer style css end */



/* media query start  */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* left side mobile details style start */
    .product-info {
        overflow: hidden;
    }

    .mobile-img {
        width: 35%;
        box-shadow: none;
    }


    .mobile-img img {
        transition: transform .3s;
    }

    .mobile-img img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }


    .mobile-content {
        width: calc(100% - 40%);
    }

    .content-buttom li {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5px;
    }

    .content-buttom li:nth-child(2),
    .content-buttom li:last-child {
        border-right: 1px solid #ddd;
    }

    .content-buttom li:last-child {
        border-right: transparent;
    }

    .content-buttom-icons {
        font-size: 20px;
        padding: 0;
    }

    .price {
        left: auto;
        top: 0;
        right: 20px;
        bottom: auto;
        transform: none;
        border-radius: 0 0 6px 6px;
    }

    /* left side mobile details style end */

    /* subscribe section start */
    .subscribe {
        width: 90%;
    }

    .subscribe h2 {
        font-size: 28px;
    }

    .subscribe form .subs-input input {
        width: 30%;
        padding: 12px 8px;
        margin: auto;
        display: inline-block;
    }

    .subscribe form .subs-input button {
        margin-left: -30px;
        background-color: #C97506;
        padding: 10px 20px;
        border-radius: 26px;
        border: none;
        width: initial;
    }

    /* subscribe section end */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}